<%- include('../partials/header') %>

<h1>Flight List</h1>
<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight Number</th>
      <th>Departure Date/Time</th>
    </tr>
  </thead>
  <tbody>
    <% flights.forEach(function(f) { %>
      <tr>
        <td><%= f.airline %></td>
        <td><%= f.airport %></td>
        <td><%= f.flightNo %></td>
        <td>
          <%= f.departs.toLocaleDateString('en-US', {month: '2-digit', day: '2-digit', year: 'numeric'}) %>
          <%= f.departs.toLocaleTimeString('en-US', {hour: '2-digit', minute: '2-digit'}) %>
        </td>
        <td>
          <a href="/flights/<%= f._id %>">Detail</a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>